USE [master]
GO
/****** Object:  Database [FastFood]    Script Date: 01.06.2026 13:54:24 ******/
CREATE DATABASE [FastFood]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FastFood', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FastFood.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FastFood_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FastFood_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FastFood].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FastFood]
GO
/****** Object:  Table [dbo].[EdiniciIzmereniya]    Script Date: 01.06.2026 13:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EdiniciIzmereniya](
	[Id_EdiniciIzmereniya] [int] IDENTITY(1,1) NOT NULL,
	[Name_EdIzm] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EdiniciIzmereniya] PRIMARY KEY CLUSTERED 
(
	[Id_EdiniciIzmereniya] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 01.06.2026 13:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id_Material] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Material] [nvarchar](50) NOT NULL,
	[Name_Material] [nvarchar](50) NOT NULL,
	[Price_Material] [money] NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id_Material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Polzovateli]    Script Date: 01.06.2026 13:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polzovateli](
	[Id_Polzovatelya] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Polzovatel_Roli] [int] NOT NULL,
	[Popitki_Vhoda] [int] NOT NULL,
	[Blocked] [bit] NOT NULL,
 CONSTRAINT [PK_Polzovateli] PRIMARY KEY CLUSTERED 
(
	[Id_Polzovatelya] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 01.06.2026 13:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id_Product] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Product] [nvarchar](50) NOT NULL,
	[Name_Product] [nvarchar](50) NOT NULL,
	[Price_Product] [money] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roli]    Script Date: 01.06.2026 13:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roli](
	[Id_Roli] [int] IDENTITY(1,1) NOT NULL,
	[Name_Roli] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roli] PRIMARY KEY CLUSTERED 
(
	[Id_Roli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specifikacion]    Script Date: 01.06.2026 13:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specifikacion](
	[Id_Specifikacion] [int] IDENTITY(1,1) NOT NULL,
	[Izgotovitel] [int] NOT NULL,
	[Specifikacion_Product] [int] NOT NULL,
	[Kolvo] [int] NOT NULL,
	[Material_Specifikacion] [int] NOT NULL,
 CONSTRAINT [PK_Specifikacion] PRIMARY KEY CLUSTERED 
(
	[Id_Specifikacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specifikacion_Material]    Script Date: 01.06.2026 13:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specifikacion_Material](
	[Id_SpecifikacionMaterial] [int] IDENTITY(1,1) NOT NULL,
	[SpecifikacionMaterial] [int] NOT NULL,
	[EdIzm] [int] NOT NULL,
	[Kolvo] [int] NOT NULL,
 CONSTRAINT [PK_Specifikacion_Material] PRIMARY KEY CLUSTERED 
(
	[Id_SpecifikacionMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakazchik]    Script Date: 01.06.2026 13:54:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakazchik](
	[Id_Zakazchik] [int] NOT NULL,
	[Name_Zakazchik] [nvarchar](50) NOT NULL,
	[Inn] [decimal](18, 0) NULL,
	[Addres] [nvarchar](50) NOT NULL,
	[Telephone] [nvarchar](20) NOT NULL,
	[Salesman] [bit] NOT NULL,
	[Buyer] [bit] NOT NULL,
 CONSTRAINT [PK_Zakazchik] PRIMARY KEY CLUSTERED 
(
	[Id_Zakazchik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EdiniciIzmereniya] ON 

INSERT [dbo].[EdiniciIzmereniya] ([Id_EdiniciIzmereniya], [Name_EdIzm]) VALUES (1, N'шт.')
INSERT [dbo].[EdiniciIzmereniya] ([Id_EdiniciIzmereniya], [Name_EdIzm]) VALUES (2, N'л.')
INSERT [dbo].[EdiniciIzmereniya] ([Id_EdiniciIzmereniya], [Name_EdIzm]) VALUES (3, N'кг.')
SET IDENTITY_INSERT [dbo].[EdiniciIzmereniya] OFF
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([Id_Material], [Cod_Material], [Name_Material], [Price_Material]) VALUES (1, N'1', N'Булочка', 20.0000)
INSERT [dbo].[Material] ([Id_Material], [Cod_Material], [Name_Material], [Price_Material]) VALUES (2, N'2', N'Закваска сметанная', 45.0000)
INSERT [dbo].[Material] ([Id_Material], [Cod_Material], [Name_Material], [Price_Material]) VALUES (3, N'3', N'Кетчуп', 75.0000)
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[Polzovateli] ON 

INSERT [dbo].[Polzovateli] ([Id_Polzovatelya], [Login], [Password], [Polzovatel_Roli], [Popitki_Vhoda], [Blocked]) VALUES (1, N'admin', N'admin', 1, 0, 0)
INSERT [dbo].[Polzovateli] ([Id_Polzovatelya], [Login], [Password], [Polzovatel_Roli], [Popitki_Vhoda], [Blocked]) VALUES (2, N'user', N'user', 2, 3, 1)
SET IDENTITY_INSERT [dbo].[Polzovateli] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id_Product], [Cod_Product], [Name_Product], [Price_Product]) VALUES (1, N'1', N'Бургер "Двойнок позитив"', 450.0000)
INSERT [dbo].[Product] ([Id_Product], [Cod_Product], [Name_Product], [Price_Product]) VALUES (2, N'2', N'Бургер "Душевный"', 370.0000)
INSERT [dbo].[Product] ([Id_Product], [Cod_Product], [Name_Product], [Price_Product]) VALUES (3, N'3', N'Бургер "Полная дичь"', 440.0000)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Roli] ON 

INSERT [dbo].[Roli] ([Id_Roli], [Name_Roli]) VALUES (1, N'Администратор')
INSERT [dbo].[Roli] ([Id_Roli], [Name_Roli]) VALUES (2, N'Пользователь')
SET IDENTITY_INSERT [dbo].[Roli] OFF
GO
SET IDENTITY_INSERT [dbo].[Specifikacion] ON 

INSERT [dbo].[Specifikacion] ([Id_Specifikacion], [Izgotovitel], [Specifikacion_Product], [Kolvo], [Material_Specifikacion]) VALUES (1, 1, 1, 2, 1)
INSERT [dbo].[Specifikacion] ([Id_Specifikacion], [Izgotovitel], [Specifikacion_Product], [Kolvo], [Material_Specifikacion]) VALUES (2, 2, 2, 2, 2)
INSERT [dbo].[Specifikacion] ([Id_Specifikacion], [Izgotovitel], [Specifikacion_Product], [Kolvo], [Material_Specifikacion]) VALUES (3, 3, 3, 2, 3)
SET IDENTITY_INSERT [dbo].[Specifikacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Specifikacion_Material] ON 

INSERT [dbo].[Specifikacion_Material] ([Id_SpecifikacionMaterial], [SpecifikacionMaterial], [EdIzm], [Kolvo]) VALUES (1, 1, 1, 2)
INSERT [dbo].[Specifikacion_Material] ([Id_SpecifikacionMaterial], [SpecifikacionMaterial], [EdIzm], [Kolvo]) VALUES (2, 2, 1, 3)
INSERT [dbo].[Specifikacion_Material] ([Id_SpecifikacionMaterial], [SpecifikacionMaterial], [EdIzm], [Kolvo]) VALUES (3, 3, 1, 4)
SET IDENTITY_INSERT [dbo].[Specifikacion_Material] OFF
GO
INSERT [dbo].[Zakazchik] ([Id_Zakazchik], [Name_Zakazchik], [Inn], [Addres], [Telephone], [Salesman], [Buyer]) VALUES (1, N'ООО Поставка', NULL, N'г.Пятигорск', N'79198634592', 1, 1)
INSERT [dbo].[Zakazchik] ([Id_Zakazchik], [Name_Zakazchik], [Inn], [Addres], [Telephone], [Salesman], [Buyer]) VALUES (2, N'ООО КинотеатрКвант', CAST(26320045123 AS Decimal(18, 0)), N'г.Железноводск,ул.Мира,123', N'79884581555', 1, 0)
INSERT [dbo].[Zakazchik] ([Id_Zakazchik], [Name_Zakazchik], [Inn], [Addres], [Telephone], [Salesman], [Buyer]) VALUES (3, N'ООО Ромашка', CAST(4140784214 AS Decimal(18, 0)), N'г.Омск,ул.Строителей,294', N'79882584546', 0, 1)
GO
ALTER TABLE [dbo].[Polzovateli]  WITH CHECK ADD  CONSTRAINT [FK_Polzovateli_Roli] FOREIGN KEY([Polzovatel_Roli])
REFERENCES [dbo].[Roli] ([Id_Roli])
GO
ALTER TABLE [dbo].[Polzovateli] CHECK CONSTRAINT [FK_Polzovateli_Roli]
GO
ALTER TABLE [dbo].[Specifikacion]  WITH CHECK ADD  CONSTRAINT [FK_Specifikacion_Product] FOREIGN KEY([Specifikacion_Product])
REFERENCES [dbo].[Product] ([Id_Product])
GO
ALTER TABLE [dbo].[Specifikacion] CHECK CONSTRAINT [FK_Specifikacion_Product]
GO
ALTER TABLE [dbo].[Specifikacion]  WITH CHECK ADD  CONSTRAINT [FK_Specifikacion_Specifikacion_Material] FOREIGN KEY([Material_Specifikacion])
REFERENCES [dbo].[Specifikacion_Material] ([Id_SpecifikacionMaterial])
GO
ALTER TABLE [dbo].[Specifikacion] CHECK CONSTRAINT [FK_Specifikacion_Specifikacion_Material]
GO
ALTER TABLE [dbo].[Specifikacion]  WITH CHECK ADD  CONSTRAINT [FK_Specifikacion_Zakazchik] FOREIGN KEY([Izgotovitel])
REFERENCES [dbo].[Zakazchik] ([Id_Zakazchik])
GO
ALTER TABLE [dbo].[Specifikacion] CHECK CONSTRAINT [FK_Specifikacion_Zakazchik]
GO
ALTER TABLE [dbo].[Specifikacion_Material]  WITH CHECK ADD  CONSTRAINT [FK_Specifikacion_Material_EdiniciIzmereniya] FOREIGN KEY([EdIzm])
REFERENCES [dbo].[EdiniciIzmereniya] ([Id_EdiniciIzmereniya])
GO
ALTER TABLE [dbo].[Specifikacion_Material] CHECK CONSTRAINT [FK_Specifikacion_Material_EdiniciIzmereniya]
GO
ALTER TABLE [dbo].[Specifikacion_Material]  WITH CHECK ADD  CONSTRAINT [FK_Specifikacion_Material_Material] FOREIGN KEY([SpecifikacionMaterial])
REFERENCES [dbo].[Material] ([Id_Material])
GO
ALTER TABLE [dbo].[Specifikacion_Material] CHECK CONSTRAINT [FK_Specifikacion_Material_Material]
GO
USE [master]
GO
